<form action="/client/create" method="POST">
  <link rel="stylesheet" href="/css/cu.css">
  <div class="form-control">
    <input type="text" name="name" required />
    <label>Nome</label>
  </div>
  <button type="submit">Registrar cliente</button>
</form>