<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/img/mario-agua.jpeg" type="image/x-icon">
  <link rel="stylesheet" href="/css/globals.css">
  <title>Biblioteca</title>
  <script>
    const inputs = document.querySelectorAll('.form-control input');
    const labels = document.querySelectorAll('.form-control label');

    labels.forEach(label => {
      label.innerHTML = label.innerText
        .split('')
        .map((letter, idx) => `<span style="
            transition-delay: ${idx * 50}ms
          ">${letter}</span>`)
        .join('');
    });
  </script>
</head>

<body>
  {{> nav}}
  <main>
    {{{body}}}
  </main>
  {{> footer}}
</body>

</html>