<form action="/book/create" method="POST">
  <link rel="stylesheet" href="/css/cu.css">
  <div class="form-control">
    <input type="text" name="title" required />
    <label>Título</label>
  </div>
  <div class="form-control">
    <input type="text" name="author" required />
    <label>Autor</label>
  </div>
  <button type="submit">Adicionar livro à lista</button>
</form>