{{#if book}}
<form action="/book/update/{{book._id}}" method="post">
  <link rel="stylesheet" href="/css/cu.css">
  <div class="form-control">
    <input type="text" name="title" value="{{book.title}}" required />
    <label>Título</label>
  </div>
  <div class="form-control">
    <input type="text" name="author" value="{{book.author}}" required />
    <label>Autor</label>
  </div>
  <button type="submit">Atualizar</button>
</form>
{{/if}}